[Unit]
After=containerd.service
After=cloud-final.service

[Service]
# Don't load these, it's a headache.
EnvironmentFile=

# ExecStart is a list, so you need to blank it out to override it properly.
ExecStart=
ExecStart=/usr/local/bin/lightning_kubelet_wrapper.bash

# My personal preference
Restart=on-abnormal

[Install]
WantedBy=
WantedBy=cloud-init.target
