#!/bin/bash
set -e

# Prevents DNF timeouts, for AMIs that we haven't yet blessed.
if ! grep -q "ip_resolve=6" /etc/dnf/dnf.conf ; then
  echo "ip_resolve=6" >> /etc/dnf/dnf.conf
fi

mkdir -p /home/fedora/.ssh/
chown fedora:fedora /home/fedora/.ssh/
echo "${public_key}" > /home/fedora/.ssh/authorized_keys
chown fedora:fedora /home/fedora/.ssh/authorized_keys
chmod 600 /home/fedora/.ssh/authorized_keys

# Sleeps until the network is online
/usr/bin/nm-online -q -t 300

dnf install -y tmux which
